@tailwind base;
@tailwind components;
@tailwind utilities;

.counter-enter-active,
.counter-leave-active {
  transition: opacity 500s ease;
}

.counter-enter-from,
.counter-leave-to {
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 500ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
