@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* @apply bg-[url('src/assets/background.jpg')] bg-repeat bg-center; */
    @apply bg-green-800;
  }
}

.counter-enter-active,
.counter-leave-active {
  transition: opacity 0.5s ease;
}

.counter-enter-from,
.counter-leave-to {
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 300ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
