@tailwind base;
@tailwind components;
@tailwind utilities;

.counter-enter-active,
.counter-leave-active {
  transition: opacity 500s ease;
}

.counter-enter-from,
.counter-leave-to {
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 500ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.shake {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: rotate(1deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: rotate(-1deg);
  }
}
